* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    gap: 24px;
}

.card-style-2 {
    background-color: white;
    border-radius: 24px;
    max-width: 350px;
    padding: 24px;
    margin-top: 18px;
    text-align: center;
}

.card-style-2 img {
    border-radius: 50%;
    width: 70%;
}

.card-style-2 h2 {
    padding: 12px;
}
.card-style-2 p {
    padding-bottom: 36px;
    margin-: 18px;
}

.animagram-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 30px;
    padding: 12px;
    margin-bottom: 20px;
}

.animagram-footer {
    display: flex;
    font-size: 24px;
    justify-content: space-between; 
    padding-top: 10px;
    margin-bottom: 10px;
}