@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.display-1,
.display-2 {
    padding: 24px;
}
#band {
width: 150px;
border: 5px solid;
}
#band-text {
    background: linear-gradient(rgb(147, 194, 105),rgb(251, 241, 46));
    border: 2px solid;
    width: 100px;
    font-family:'Times New Roman', Times, serif;
    font-size: 8px;

} 
#truck { 
    height: 160px;
    border: 4px solid;
    margin-right: 40px;
}
.display-1,
.display-2,
.display-3{
    display: inline-block;
}
#skate{
    width: 100px;
    border: 4px solid;
}
#burger{
    width: 100px;
    border: solid 4px darkblue;
}