* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar-1 {
    display: flex;
    align-items: center;
    background:linear-gradient(chocolate,darksalmon);
    color:brown;
} 

#name-1 {
    color: whitesmoke;
    margin-right: auto;
}
#name-2 {
    color:whitesmoke;
    padding-left: 24px;
}

#navbar-1 a {
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: bold;
    padding: 24px;
}

#navbar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(rgb(240, 161, 169), #720026)
}

#navbar-2 a {
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

#navbar-2 #cta-2 {
    background-color: whitesmoke;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin: 24px;
    color: #720026;
}

#navbar-top {
    background:linear-gradient(rgb(82, 20, 108), purple);
    display: flex;
    padding-left: 20px;
    border-bottom: 2px solid rgba(79, 1, 113, 0.785);
}

#promo {
    color: whitesmoke;
    margin-right: auto;
}

#name-3 {
    padding-left: 24px;
}

#links {
    margin-top: 24px;

}
#navbar-top a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
    padding: 24px;
}

#navbar-bottom {
    color:whitesmoke;
    background:linear-gradient( purple,orange);
    padding-top: 1px;
    display: flex;
}

#navbar-bottom a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 24px;
}
