@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgba(73, 67, 60, 0.888);
    background-size: cover;
    background-blend-mode:overlay;
    background-image: url(../images/texture2.jpg);
    background-size: cover;
}

#navbar {
    background:linear-gradient(#062f24,#1e6d57);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 24px;
    height: 10vh;
}

.logo img {
    height: 12vh;
}

#name {
    color: #f18a0c;
    font-size: 6vh;
    font-family: "cinzel";
    font-weight: bold;
    margin-left: 15vh;
    margin-top: 0;
}

#navbar a {
    text-decoration: none;
}

#menu {
   padding: 24px;
}

#menu a:hover {
    background-color:#a41e22;
    border-radius: 12px;
    transition:
    background-color .5s;
}

#menu-container a:hover {
    background-color:#a41e22;
    transition: .5s;
}
#menu a {
    text-decoration: none;
    color: #f18a0c;
    padding: 24px;
    font-size: 24px;
    font-family: "Cinzel", serif;
    font-weight: bold;
}

#hero {
    background-image: url("../images/treehouse3.jpg");
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.529);
    background-blend-mode:overlay;
    height: 50vw;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    color:#f18a0c;
    font-family: "cinzel",serif;
    margin: 5vh 6vw 5vh 0px;
}

#hero a {
    text-decoration: none;
    font-family:"cinzel", sans-serif;
    color: #f18a0c;
    background-color:#a41e22;
    ;
    border-radius: 20px;
    font-size: 2vw;
    display: inline-block;
    padding: 15px;
    margin: 0vh 0vw 10vh 0px;
}

#hero a:hover {
    background-color: #f18a0c;
    color: #a41e22;
    transition:  .5s;
}

#content {
    background-color: #022f23;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


#about {
    color: #f18a0c;
    background-color: #022f23;
    margin: 30px;
    flex-direction: column;

}

#about-content {
    display: flex;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#about img {
    width:100%;
    padding: 24px;
}

#about p {
    font-family:"Mukta", sans-serif;
    display: flex;
    text-align: center;
    font-size: 4vh;
    padding: 20px;
}

#about h2 {
    padding-top: 24px;
}

#content img {
  width: 100%;
}

#fresh {
    align-items: center;
    margin: 12px;
}

#fresh img {
    width: 80%;
    margin-left: 10vw;
}

#fresh p {
    color: #f18a0c;
    font-family:"Mukta", sans-serif;
    padding: 40px;
    font-size: 3vh;
    text-align: center;
}

#fresh a {
    text-align: center;
    color: #f18a0c;
    font-family:"Mukta", sans-serif;
    font-size: 2vh;
    text-decoration: none;
    background-color: #1e6d57;
    margin: 20px;
    padding: 15px;
    border-radius: 40px;
}

#footer {
    background:linear-gradient(#062f24,#1e6d57);
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    color: #f18a0c;
    padding: 24px;
}

#social {
    border-right: 1px solid #f18a0c;
    font-family:"Mukta", sans-serif;
    padding-left: 5vw;
    padding-right: 10vw;
    font-size: 30px;
}

#social i {
    padding: 9px;
}

#table {
    border-right: 1px solid #f18a0c;
    padding-left: 5vw;
    padding-right: 10vw;
    text-align: center;
}

#c {
    color: #f18a0c;
    text-align: center;
    font-size: 2vh;
    font-style: italic;
}

#food {
    background-color: #022f23;
    border: 2px solid #f18a0c;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#food h4 {
    font-size: 32px;
    text-align: center;
}

#menu-container {
    background:
    linear-gradient(#0000009a,#00000034), 
    url("../images/treehouse4.jpg");
    background-position: center;
    align-items: center;
    background-size: cover;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20vh;
    margin-bottom: 24px;
}

#menu-container h2 {
    padding-top: 20vh;
}

.menu-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 24px;
    border-bottom: #f18a0c;
}

.menu-cards a {
    color: #f18a0c;
    font-family:"Mukta", sans-serif;
    font-size: 3vh;
    text-decoration: none;
    background-color: #1e6d57;
    margin: 24px;
    padding: 18px;
    border-radius: 40px;
}

#breakfast {
    display: flex;
    justify-content: center;
    width: 45%;
    box-shadow: -3px 3px 10px #0000006b;
    margin-left: auto;
    margin-right: auto;
}

#b1 {
    width: 40vw;
    align-items: center;
    height: 80%;
    
    background-color: #415b4ca9;
}

#b1 img {
    width: 100%;
    align-items: center;
}

#b1 h4 {
    font-size: 4vh;
    color: #f18a0c;
}

#breakfast p {
    color: #f18a0c;
    font-size: 18px;
    text-align: center;
    font-family:"Mukta", sans-serif;

}

h3 {
    color: #f18a0c;
    font-family: "cinzel";
    text-decoration: underline;
    text-align: center;
    font-size: 5vh;
    margin-top: 0px;
    padding-top: 24px;
}

h4 {
    color: #f18a0c;
    padding: 20px;
    text-align: center;
}

#brunch {
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(#022f23, #35a1478b, #022f23);
    justify-content: space-between;
    padding: 5vw;
}

.card {
    width: 450px;
    padding: 20px;
    box-shadow: -3px 3px 10px #0000006b;
    background-color: #415b4ca9;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

#dinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7vw;
    background:linear-gradient(#022f23, #35a1478b, #022f23);
}

#dessert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:linear-gradient(#022f23, #35a1478b, #022f23);
    padding: 7vw;
}

#view {
    text-align: center;
    margin-bottom: 24px;
    justify-content: center;
}

#view a{
    color: #f18a0c;
    text-decoration: none;
    font-size: 3vh;
    align-items: center;
    text-align: center;
    background-color: #1e6d57;
    padding: 24px;
    border-radius: 12px;
}

@media screen and ( min-width:500 and max-width:768px){
    #navbar {
        flex-direction: column;
    }

    #menu-container {
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
    }

    #about-content img {
        width: 5vw;
    }

    #about-content p {
        flex-wrap: wrap;
        flex-direction: column;
    
    }

    #menu-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #food {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #brunch {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction:column ;
    }

    .card {
        flex-wrap: wrap;
        flex-direction: column;
    }
}