@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background:linear-gradient(#9D4EDD,#240046);
}

#container {
    background-color: rgb(89, 86, 94);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#heading {
    text-align: center;
    margin-top: 20PX;
}

#heading h4 {
    font-size: 3vh;
    color: #FF9E00;
    padding: 24px;
    margin-bottom: 0px;
}

#heading h1 {
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 10vh;
    color:#FF6D00;
    margin: 0%;
}

#heading h5 {
    font-size: 3vh;
    color: #FF9E00;
}

#vs {
    display: flex;
    justify-content: center;
}

#team1 {
    align-items: center;
}

#team1 img {
    width: 80%;
    margin-left: 8vw;
}

#spyro {
    text-align: center;
    color: #FF9E00;
    margin-left: 10vw;
    font-size: 5vh;
}

#team2 {
    align-items: center;
}

#team2 img {
    width: 80%;
    margin-right: 6vw;
}

#crash {
    text-align: center;
    color: #FF9E00;
    margin-right: 20vh;
    font-size: 5vh;
}

#vs h1 {
    font-family: "Anta", sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 10vh;
    color: #FF9E00;
    padding: 24px;
    margin: 10vw;
}

#info {
    text-align: center;
}

#info h4 {
    color: #FF6D00;
    font-size: 6vh;
}

#info h5 {
    color: #FF9E00;
    font-size: 4vh;
}

#info p {
    color: #FF6D00;
    background-color: rgb(48, 47, 47);
    border: 3px solid #9D4EDD;
    font-size: 4vh;
    max-width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

#rsvp {
    justify-content: center;
    text-align: center;
    padding: 24px;
}

#yes {
    background-color: #9D4EDD;
    font-size: 4vh;
    display: inline-block;
    padding: 24px;
    margin: 12px;
    border-radius: 10px;
}

#yes:hover {
    background-color: #240046;
    color: #9D4EDD;
    transition: 0.5s;
}

#no {
    background-color: #9D4EDD;
    font-size: 4vh;
    display: inline-block;
    padding: 24px;
    border-radius: 10px;
    margin: 12px;
}

#no:hover {background-color: #240046;
    color: #9D4EDD;
    transition: 0.5s;
}
#call {
    color: #FF9E00;
    font-size: 3vh;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    #container {
        background-color: #240046;
    }
    #team1 img {
        margin-left: 5vw;
        width: 25vw;
    }
    #vs h1 {
        width: 4vh;
    }
    #team2 img {
        margin-left: 5vw;
        width: 25vw;
    }
}

