/* Drill 1 - Write your code solution below */
#container-1 {
    display: flex;}

/* Drill 2 - Write your code solution below */
#container-2 {
    display: flex;
}

/* Drill 3 - Write your code solution below */
#c3-box1,
#c3-box2 {
    display: flex;
}

/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */
