@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #333333f4;
    background-size: cover;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    justify-content: center;
    display: flex;
}

.hero{
    background-image: url("../images/watercolor.jpg");
    background-blend-mode: overlay;
    background-color: #333333;
    background-size: cover;
    background-position:center;
    height: 80vh;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero h1 {
    text-align: center;
    color: whitesmoke;
    padding: 24vh;
    font-size: 6vh;
    font-family: "Playfair Display", serif;
}

.card {
    background-color: rgba(185, 209, 185, 0.27);
    width: 450px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px #333333;
    margin: 80px;
    text-align: center;
}

.card a {
    color: black;
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-style: italic;

    transition: 
        background-color 0.5s,
        color 0.5s;
}

.card a:hover {
    background-color: transparent;
    color: darkslategray;
}

.card img {
    height: 250px;
    border-radius: 20px;
    padding: 24px;
}

#content {
    max-width: 1000px;
    margin: 20vh auto;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.gallery img {
    height: 345px;
    flex: 1;
    object-fit: cover;
}

#hero-2 {
    background-image: url("../images/watercolor.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

#hero-2 h1 {
    text-align: center;
    color: whitesmoke;
    padding: 20vh;
    font-size: 5vh;
    font-family: "Playfair Display", serif;
}