@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background:radial-gradient(darkslategray,rgb(138, 167, 138), darkslategray );
    background-size: cover;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    justify-content: center;
    display: flex;
}

.hero{
    background-image: url("../images/watercolor.jpg");
    background-blend-mode: overlay;
    background-color: #333333;
    box-shadow: 4px 4px 12px #333333;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding:10vh
}

#p {
    color: rgb(241, 232, 232);
    text-align: center;
    max-width: 900px;
    font-size: 5vh;
    margin: 24px auto;
    padding: 40px;
    background-color: #33333368;
    font-family: "Playfair Display", serif;
    border-radius: 20px;
    box-shadow: 4px 4px 12px #333333;
}

.hero h1 {
    font-size: 5vw;
    margin-bottom: 3vh;
    color: whitesmoke;
    font-family: "Playfair Display", serif;
}

.hero h5 {
    color: whitesmoke;
    font-size: 2vw;
    margin: 0px;
    padding-left: 10vw;
    font-family: "Playfair Display", serif;
}

.card {
    background-color: rgba(185, 209, 185, 0.27);
    width: 450px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px #333333;
    margin: 80px;
    text-align: center;
}

.card a {
    color: whitesmoke;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    transition: 
        background-color 0.5s,
        color 0.5s;
}

.card a:hover {
    background-color: transparent;
    color: darkslategray;
}

.card img {
    height: 250px;
    border-radius: 20px;
    padding: 24px;
}

#content {
    max-width: 1000px;
    margin: 20vh auto;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.gallery img {
    height: 345px;
    flex: 1;
    object-fit: cover;
}

#hero-2 {
    background-image: url("../images/watercolor.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

#hero-2 h1 {
    text-align: center;
    color: whitesmoke;
    padding: 20vh;
    font-size: 5vh;
    font-family: "Playfair Display", serif;
}